.album-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.album-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.col-left {
  border-right: 0.5px solid rgba(255, 255, 255, 0.2);
}

.pic-area {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tracklist-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.tracklist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 7%;
}

.track-item {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
}

.track-name {
  font-family: "AmazDooM", sans-serif;
  color: red;
  font-size: 4vh;
  font-weight: 100;
  white-space: nowrap;
}

.demo-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.demo-link {
  padding: 7%;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 3px;
  transition: border-bottom 0.3s ease;
}

.demo-text {
  font-family: "Acumin", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 12px;
  padding-bottom: 4px;
  position: relative;
}

.demo-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33%;
  height: 0.5px;
  background-color: white;
  transition: width 0.3s ease;
}

.demo-link:hover .demo-text::after {
  width: 77%;
}

.demo-icon {
  width: 20px;
  height: 20px;
  color: white;
  transition: transform 0.3s ease;
  transform: translate(3px, -3px);
}

@media screen and (max-width: 991px) {
  .demo-text {
    font-size: 15px;
  }
}
