.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
}

.intro-bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.intro-logo {
  width: 11%;
  object-fit: contain;
  opacity: 0;
}

.intro-bg-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 2;
  transform: translateY(100%);
}

@media screen and (max-width: 991px) {
  .intro-logo {
    width: 21%;
    object-fit: contain;
    opacity: 0;
  }
}
